<div class="card d-flex flex-row aligins-item-center justify-content-center gap-3 px-3" style="width:25rem; height:7rem;overflow:scroll;">
  <% (0..5).each do %>
    <%= render "story/story" %>
  <% end  %>
</div>
